.navbar .navbar-brand span {
	font-size: 1.6em;
	font-weight: 600;
}

#main-content h3 {
	font-weight: 600;
}

#chicken, #beef, #sushi {
	background-color: #f8f8f8;
	margin: 0 10px;
}

#main-content {
}